.jumbotron-landing {
	background-image: url(../img/carousel-jellyfish1.jpg);
	color: white;
}

.divider {
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-image: url(../img/carousel-jellyfish2.jpg);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#live-search{
	padding-top: 100px;
	background-color: #EEE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

.unstyled {
	list-style-type: none;
	padding-left: 0px;
}

.dateline {
	font-weight: normal !important;
	font-size: smaller;
}

.small-text {
	width: 7em;
}